# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Environment
.env
.env.*

# Test and coverage
htmlcov/
.coverage
.cache/

# Others
*.sqlite3
*.db

# Rough work
rough/
